body {
  font-family: 'Roboto', sans-serif;
  background-color: #9754cb
}

.title-link {
  text-decoration: none;
  color: inherit; 
  cursor: pointer;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #6237a0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar-left {
  margin-left: 15px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; 
  height: 50px;
  margin-right: 25px;
  border: 1.5px solid #e6ddd6;
  border-radius: 50%;
}


.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #e6ddd6;
}



.navbar-right a {
  position: relative; 
  margin-left: 10px;
  margin-right: 50px;
  text-decoration: none;
  color: #e6ddd6;
  font-weight: 500;
  padding-bottom: 10px; 
}

.navbar-right a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;         
  height: 3px;       
  width: 0%;
  background-color: #e6ddd6;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navbar-right a:hover {
  color: #e6ddd6
}

.navbar-right a:hover::after {
  width: 100%; 
}



